dfn {
<<<<<<< HEAD
  color: blue;
}
p 
{
  color: lightblue;
}
footer
{
  color: red;
}

h1{
  color: blue;
}

*{
  background-color: lightslategray;
}

div{
  color: lightblue;
  border-style: inset;
  border-color: black;  
  display: inline-block;
}
.school{
  padding-bottom: 20px;
}

=======
  color: blue
}
p 
{
  color: black
}
footer
{
  color: red
}

h1{
  color: blue
}
>>>>>>> 0cc74288b466961546ded03a92e23ecc012dbeae
